<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>ShareminutesWeb</display-name>
 <servlet>
  <display-name>AutenticazioneServlet</display-name>
  <servlet-name>AutenticazioneServlet</servlet-name>
  <servlet-class>control.AutenticazioneServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestioneAbilitaServlet</display-name>
  <servlet-name>GestioneAbilitaServlet</servlet-name>
  <servlet-class>control.GestioneAbilitaServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestioneAmicizieServlet</display-name>
  <servlet-name>GestioneAmicizieServlet</servlet-name>
  <servlet-class>control.GestioneAmicizieServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestioneUtentiServlet</display-name>
  <servlet-name>GestioneUtentiServlet</servlet-name>
  <servlet-class>control.GestioneUtentiServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestioneFeedbackServlet</display-name>
  <servlet-name>GestioneFeedbackServlet</servlet-name>
  <servlet-class>control.GestioneFeedbackServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestioneRichiesteServlet</display-name>
  <servlet-name>GestioneRichiesteServlet</servlet-name>
  <servlet-class>control.GestioneRichiesteServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestioneRicercheServlet</display-name>
  <servlet-name>GestioneRicercheServlet</servlet-name>
  <servlet-class>control.GestioneRicercheServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>RegistrazioneServlet</display-name>
  <servlet-name>RegistrazioneServlet</servlet-name>
  <servlet-class>control.RegistrazioneServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>Servlet</display-name>
  <servlet-name>Servlet</servlet-name>
  <servlet-class>control.Servlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>GestionePagineServlet</display-name>
  <servlet-name>GestionePagineServlet</servlet-name>
  <servlet-class>control.GestionePagineServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GestionePrenotazioniServlet</servlet-name>
  <servlet-class>control.GestionePrenotazioniServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>AutenticazioneServlet</servlet-name>
  <url-pattern>/AutenticazioneServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RegistrazioneServlet</servlet-name>
  <url-pattern>/RegistrazioneServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestioneAbilitaServlet</servlet-name>
  <url-pattern>/GestioneAbilitaServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestioneAmicizieServlet</servlet-name>
  <url-pattern>/GestioneAmicizieServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestioneFeedbackServlet</servlet-name>
  <url-pattern>/GestioneFeedbackServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestioneRicercheServlet</servlet-name>
  <url-pattern>/GestioneRicercheServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestioneRichiesteServlet</servlet-name>
  <url-pattern>/GestioneRichiesteServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestioneUtentiServlet</servlet-name>
  <url-pattern>/GestioneUtentiServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Servlet</servlet-name>
  <url-pattern>/Servlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestionePagineServlet</servlet-name>
  <url-pattern>/GestionePagineServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GestionePrenotazioniServlet</servlet-name>
  <url-pattern>/GestionePrenotazioniServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>
 <jsp-config>
  <taglib>
   <taglib-uri>/WEB-INF/tags/</taglib-uri>
   <taglib-location>/WEB-INF/tags/</taglib-location>
  </taglib>
 </jsp-config>
 <security-constraint>
  <display-name>Constraint1</display-name>
  <web-resource-collection>
   <web-resource-name>wrcoll</web-resource-name>
   <url-pattern>/utente/*</url-pattern>
   <url-pattern>/admin/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>TutorialUser</role-name>
  </auth-constraint>
 </security-constraint>
 <security-role>
  <role-name>TutorialUser</role-name>
 </security-role>
</web-app>
